@use '@src/variables.scss';

.field {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;

  @media (max-width: variables.$breakpoint_sm) {
    width: 80%;
  }

  label {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  select {
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    outline: none;
  }

  .error {
    margin-top: 3px;
    font-weight: 500;
    font-size: 14px;
  }
}
