@use '@src/variables.scss';

.section,
.section_job,
.section_FAQ {
  margin: 80px;
  padding-bottom: 30px;

  @media (max-width: variables.$breakpoint_md) {
    margin: 30px;
  }
}

.section,
.section_job {
  text-align: center;
}

.separator {
  background-color: variables.$orange;
  width: 50%;
  height: 1px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
}

.section_FAQ {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
